* {
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
}

h1 {
  margin-block: 0;
}

form {
  display: flex;
}

.filter-bar {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
